.redactor {
    background: #ffffff;
    box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.08);
    border-radius: 4px;
    height: 635px;
    .redactor-header {
        background: #e5e5e5;
        border-radius: 4px 4px 0px 0px;
        height: 32px;
        .header-icon-container {
            font-weight: 500;
            font-size: 16px;
            color: #4c4c4c;
            display: flex;
            align-items: center;
            justify-content: center;
            .icon {
                width: 20px;
                height: 20px;
                margin-right: 12px;
            }
        }
    }
}
