.redactor {
    background: #ffffff;
    box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.08);
    border-radius: 4px;
    height: 635px;
    .redactor-header {
        background: #e5e5e5;
        border-radius: 4px 4px 0px 0px;
        height: 32px;
        .header-icon-container {
            font-weight: 500;
            font-size: 16px;
            color: #4c4c4c;
            display: flex;
            align-items: center;
            justify-content: center;
            .icon {
                width: 20px;
                height: 20px;
                margin-right: 12px;
            }
        }
    }
    .redactor-navigation {
        margin: 16px $redactor-content-padding;
        .header-nav-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 48px;
            cursor: pointer;
            border: 1px solid #3098f2;
            .icon {
                width: 21px;
                height: 20px;
                margin-right: 12px;
            }
            span {
                font-weight: 500;
                font-size: 20px;
                line-height: 23px;
                color: #3098f2;
            }
        }
        .active-nav {
            background-color: #3098f2;
            span {
                color: #fff;
            }
        }
        .ft-nav {
            border-radius: 8px 0px 0px 8px;
        }
        .sec-nav {
            border-radius: 0;
        }
        .th-nav {
            border-radius: 0 8px 8px 0;
        }
    }
    .redactor-content {
        padding: 0 $redactor-content-padding;
    }
    .price-container-content {
        display: flex;
        flex-direction: column;
        .yellow-btn {
            height: 48px;
            padding: 0 27px;
            max-width: 45%;
            min-width: 258px;
        }
        .shop-select {
            width: 450px;
            margin-top: 24px;
        }
    }
    .media-container-content {
        .dragger-text-container {
            display: flex;
            flex-direction: column;
            color: #999999;
            font-size: 12px;
            line-height: 16px;
            :first-child {
                color: #333;
                font-size: 14px;
                line-height: 25px;
            }
        }
        .media-content {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            max-height: 350px;
            overflow: auto;
            padding: 0 5px 12px 0;
            margin-top: 12px;
            &::-webkit-scrollbar {
                width: 4px;
                background: unset;
            }
            &::-webkit-scrollbar-thumb {
                background-color: #4C4C4C;
                border-radius: 5px;
    
            }
        }
    }
}
.option-content {
    display: flex;
    align-self: center;
    .image-container {
        margin-right: 10px;
    }
    .text-container {
        color: #999;
    }
}
