.player-timeline {
    min-height: 220px;
    margin: 30px 35px;
    background: #e5e5e5;
    box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.08);
    border-radius: 4px;
    .timeline-header {
        height: 30px;
        align-items: center;
        .total-time {
            text-align: center;
            background: #ffffff;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #4c4c4c;
            font-size: 16px;
            line-height: 24px;
        }
        .rows-timeline {
            display: flex;
        }
    }
    .timeline-body {
        min-height: calc(100% - 30px);
        .timeline-title-container {
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: 90px;
            .title-icon {
                width: 22px;
                margin-right: 12px;
            }
            .timeline-title {
                color: #4c4c4c;
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
            }
        }
        .timeline-content {
            background: #fff;
            position: relative;
            min-height: 100px;
            .video-timeline {
                border-bottom: 1px solid #e5e5e5;
            }
            .media-droped-item {
                position: relative;
                height: 100%;
                width: 100%;
                .media-droped-item-url {
                    border-radius: 2px 2px 0 0;
                    height: 85%;
                }
                .name-line {
                    background: #3098f2;
                    font-size: 9px;
                    color: #fff;
                    border-radius: 0 0 2px 2px;
                    padding-left: 4px;
                }
                &:hover {
                    .remove-btn-container {
                        display: flex;
                    }
                }
                .product-name-line {
                    background: #e9f3fb;
                    color: #3098f2;
                    border-radius: 4px;
                    text-align: center;
                    font-size: 0.9em;
                    line-height: 16px;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 0 5px;
                }
            }
            .blue-dashed {
                transform: rotate(-90deg);
                position: absolute;
                top: 45%;
                background: #fff;
                color: #3098f2;
                border: 1px dashed #3098f2;
                font-weight: 500;
                font-size: 12px;
                line-height: 24px;
                border-radius: 4px;
                padding: 3px 25px;
                left: -10px;
                cursor: pointer;
            }
            .timeline-row-item {
                width: 120px;
                min-height: 100px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-right: 1px solid #e5e5e5;
                padding: 10px;
                border-radius: 4px;
                &:first-child {
                    border-radius: 4px;
                }
                .empty-content-container {
                    display: flex;
                    flex-direction: column;
                    border: 1px dashed #3098f2;
                    padding: 10px;
                    align-items: center;
                    color: #3098f2;
                    font-weight: 300;
                    font-size: 12px;
                    line-height: 12px;
                    border-radius: 4px;
                    cursor: pointer;
                    img {
                        width: 30px;
                    }
                }
            }
        }
    }
}
.seconds-input {
    width: 120px;
    display: flex;
    justify-content: center;
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Firefox */
    input[type="number"] {
        -moz-appearance: textfield;
    }
    .time-container {
        display: flex;
        justify-content: center;
        input {
            background: unset;
            border: unset;
            text-align: right;
        }
    }
    .arrow-buttons-container {
        display: flex;
        flex-direction: column;
        margin-left: 10px;
        img {
            width: 10px;
            cursor: pointer;
        }
    }
}
