.player-timeline {
    height: 220px;
    margin: 30px 35px;
    background: #e5e5e5;
    box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.08);
    border-radius: 4px;
    .timeline-header {
        height: 30px;
        align-items: center;
        .total-time {
            text-align: center;
            background: #ffffff;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #4c4c4c;
            font-size: 16px;
            line-height: 24px;
        }
    }
    .timeline-body {
        height: calc(100% - 30px);
        .timeline-title-container {
            display: flex;
            align-items: center;
            justify-content: center;
            .title-icon {
                width: 22px;
                margin-right: 12px;
            }
            .timeline-title {
                color: #4c4c4c;
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
            }
        }
        .timeline-content {
            background: #fff;
            position: relative;
            .video-timeline {
                border-bottom: 1px solid #e5e5e5;
            }
            .blue-dashed {
                transform: rotate(-90deg);
                position: absolute;
                top: 80px;
                background: #fff;
                color: #3098f2;
                border: 1px dashed #3098f2;
                font-weight: 500;
                font-size: 12px;
                line-height: 24px;
                border-radius: 4px;
                padding: 3px 25px;
                left: -30px;
                cursor: pointer;
            }
        }
    }
}
