$BG_Color: #f7fafc;
$hero-yellow: #fbd436;
$redactor-content-padding: 12px;

:root {
    --BG_Color: #{$BG_Color};
    --hero-yellow: #{$hero-yellow};
}
.main-container {
    display: flex;
    background: $BG_Color;
    .pro-sidebar {
        height: auto;
        min-height: 100vh;
        .pro-sidebar-inner {
            // background: #fff;
        }
    }
}
.basic-icon {
    cursor: pointer;
}
.main-content {
    padding: 0 35px;
}
.btn {
    color: #333;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
}
.yellow-btn {
    background: $hero-yellow;
    border: unset;
}
