$BG_Color: #f7fafc;
$hero-yellow: #fbd436;

:root {
    --BG_Color: #{$BG_Color};
    --hero-yellow: #{$hero-yellow};
}
.main-container {
    display: flex;
    background: $BG_Color;
    .pro-sidebar {
        height: auto;
        min-height: 100vh;
        .pro-sidebar-inner {
            // background: #fff;
        }
    }
}
.basic-icon {
    cursor: pointer;
}
.main-content {
    padding: 0 35px;
}
