.edit-priceContent-modal {
    // background: #F7FAFC;
    min-width: 70%;
    .ant-modal-content {
        .ant-modal-body {
            background: #f7fafc;
        }

        .modal-header {
            .header-input {
                width: 100%;
                height: 33px;
                text-align: end;
                padding: 10px;
                border-radius: 4px;
                box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
                border: unset;
            }
            .shop-selector-container {
                max-width: 450px;
                margin: 12px 0 24px;
            }
        }
        .modal-body {
            .scehdule-header-container {
                display: flex;
                justify-content: space-between;
                background: #3098f2;
                border-radius: 4px 4px 0 0;
                height: 48px;
                align-items: center;
                color: #fff;
                font-weight: 500;
                font-size: 20px;
                line-height: 23px;
                padding-left: 30px;
                .file-name-container {
                    padding-right: 8px;
                }
            }
            .schedule-items-container {
                background: #fff;
            }
            .schedule-item-container {
                display: flex;
                align-items: center;
                justify-content: space-between;
                height: 55px;
                border: 1px solid #e5e5e5;
                font-size: 12px;
                line-height: 16px;
                .id-container {
                    display: flex;
                    align-items: center;
                    width: 15%;
                    max-width: 55px;
                    img {
                        margin-right: 3px;
                        width: 6px;
                    }
                }
                .image-container {
                    width: 15%;
                    max-width: 36px;
                    height: 36px;
                    border-radius: 4px;
                    .item-url {
                        height: 25px;
                        border-radius: 4px 4px 0 0;
                    }
                    .name-line {
                        background: #3098f2;
                        width: 100%;
                        font-size: 10px;
                        color: #fff;
                        text-align: center;
                        border-radius: 0 0 4px 4px;
                    }
                }
                .name-container {
                    width: 30%;
                }
                .price-container {
                    width: 10%;
                }
                .discount-container {
                    width: 20%;
                    .ant-checkbox-group-item {
                        font-size: 12px;
                    }
                }
            }
        }
        .multicol-content {
            justify-content: space-between;
        }
        .mincol-content {
            .content-col {
                margin-right: 10px;
            }
        }
        .modal-footer {
            display: flex;
            justify-content: flex-end;
            padding: 15px 0 0;
            .btn {
                width: 150px;
                height: 48px;
            }
            .cancel-btn {
                background-color: #fff;
                border: 1px solid #fbd436;
            }
            .save-btn {
                margin-left: 15px;
            }
        }
    }
}
